[Desktop Entry]
Version=1.0
Type=Application
Name=Installer FreeSmartSync
GenericName=Installation FreeSmartSync
Comment=Double-clic pour installer - Right-click Run as program if needed
Exec=bash "%k/../CLIC-DROIT-Executer-pour-installer-FreeSmartSync.sh"
Icon=system-software-install
Terminal=false
Categories=System;
StartupNotify=false
