[Desktop Entry]
Version=1.0
Type=Application
Name=Installer FreeSmartSync
GenericName=Installation FreeSmartSync
Comment=Installe FreeSmartSync sur votre ordinateur
Exec=bash -c 'bash "$(dirname "$(realpath "%k")")/CLIC-DROIT-Executer-pour-installer-FreeSmartSync.sh"'
Icon=system-software-install
Terminal=false
Categories=System;
StartupNotify=false
X-GNOME-Autostart-enabled=false
